.card {
    display: flex;
    margin: 10px;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.jarak {
    display: inline-flex;
}
.col-sm-4 {
    display: flex;
}

body {
    height: 10000px;
}

.col img {
    height: 100px;
    width: 100px;
}